<!--<h1>つぶやきを確認</h1>-->
<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 tweetsForm">
    
    <div class="panel panel-warning">
      <div class="panel-heading text-center">つぶやき内容</div>
      <div class="panel-body">
        <%= form_for(@tweet, url: tweets_path) do |f| %>
          <!--隠しパラメータ-->
          <%= f.hidden_field :content %>
          <p><%= @tweet.content %></p>
          <div class="tweetsForm__confirmBtns">
            <%= f.submit :投稿, class: 'btn btn-primary' %>
        <% end %>
            <%= form_for(@tweet, url:tweets_new_path, method: 'post') do |f| %>
              <%= f.hidden_field :content %>
              <%= f.submit "戻る", name:'back', class: 'btn btn-default' %>
            <% end %>
        </div>
      </div>
    </div>
    
    <p class="text-right">
    <%= link_to tweets_path do %>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <span>一覧に戻る</span>
    <% end %>  
    </p>
  </div>
</div>