<h1>つぶやきを確認</h1>

<%= form_for(@tweet, url: tweets_path) do |f| %>

  <%= render 'form_error' %>

  <!--隠しパラメータ-->
  <%= f.hidden_field :content %>
  <p>
    <span>つぶやき内容 : </span> <%= @tweet.content %>  
  </p>
  <%= f.submit :投稿 %>
<% end %>

<%= form_for(@tweet, url:re_new_tweets_path, method: 'post') do |f| %>
  <%= f.hidden_field :content %>
  <%= f.submit "戻る", name:'back' %>
<% end %>

<%= link_to '一覧に戻る', tweets_path %>