<h1>つぶやきを編集</h1>

<%= form_for(@tweet, url: tweet_path) do |f| %>

 <% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h2><%= @tweet.errors.messages[:base].count %>件のエラーがあります。</h2>
    <ul>
      <% @tweet.errors.messages[:base].each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :つぶやき %>
  <%= f.text_area :content %>
  <%= f.submit :投稿 %>
<% end %>
