<p><%= notice %></p>
<h1>みんなのつぶやき</h1>

<%= link_to "つぶやきを投稿する", new_tweet_path %>


<% @tweets.each do |tweet| %>
<p><%= tweet.content %></p>
<%= link_to 'このつぶやきを編集', edit_tweet_path(tweet.id) %>
<%= link_to 'このつぶやきを削除', tweet_path(tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<% end %>

