<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>TwiiterModoki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <%= link_to tweets_path do %>
      <img class="header__logo" src="<%= asset_path "twmodoki.svg" %>">
      <span>TwitterModoki</span>
    <% end %>
  </header>

<%= yield %>

<%= javascript_include_tag 'application'%>
</body>
</html>
